{
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
